  <div class="user-data">
    <h2>Редагувати <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>


      <div class="field">
        <%= f.label :email, "Пошта" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :nickname, "Нікнейм" %><br />
        <%= f.text_field :nickname %>
      </div>

      <div class="field">
        <%= f.label :password, "Пароль" %> <i>(залиште поле порожнім, якщо ви не бажаєте змінювати пароль)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> символів щонайменше</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Підтвердження паролю" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "Діючий пароль" %> <i>(нам потрібен ваш діючий пароль для підтвердження змін)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Змінити" %>
      </div>
    <% end %>
    <%= link_to "Повернутися", :back %>
    <div class="delete">
      <h3>Видалити акаунт</h3>

      <p>Не задоволені? <%= button_to "Видалити мій акаунт", registration_path(resource_name), data: { confirm: "Ви впевнені?" }, method: :delete %></p>

    </div>
  </div>
