  <div class="user-data">
    <h2>Реєстрація</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, "Пошта" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, "Пароль" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символів мінімум)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Підтвердження паролю" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Зареєструватися" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

