/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
body {
  line-height: 1;
}

/* line 35, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
ol, ul {
  list-style: none;
}

/* line 38, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
blockquote, q {
  quotes: none;
}

/* line 41, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, /home/dinets/museum/app/assets/stylesheets/reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
body {
  background: url("assets/background.jpg");
}

/* line 5, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.wrapper {
  width: 1280px;
}

/* line 9, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header {
  /*border-top: 1px solid  #000000;*/
  /*border-bottom: 1px solid  #708090;*/
  color: #808080;
  min-height: 40px;
}

/* line 16, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header form {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  width: 360px;
}

/* line 23, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header input {
  color: #fff;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 5px 2px 5px 30px;
  background: url("asses/search.png") no-repeat scroll 0% 50%;
}

/* line 31, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header input[type=submit] {
  padding: 4px 2px 4px;
  background-image: none;
  color: #A9A9A9;
}

/* line 37, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar {
  height: 30px;
  float: right;
  min-width: 470px;
  text-align: center;
}

/* line 45, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul {
  display: none;
  position: absolute;
  top: 100;
}

/* line 51, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li:hover ul {
  display: block;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 57, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 63, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li {
  display: inline-block;
  float: left;
  position: relative;
  line-height: 30px;
}

/* line 70, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 74, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  font-size: 1.05em;
  font-weight: bold;
  color: #DCDCDC;
  text-decoration: none;
  text-align: center;
}

/* line 85, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 89, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar a:hover {
  color: #fff;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 95, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li:hover {
  color: #fff;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*
*/
