/* line 1, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
body {
  background: url("background.jpg");
  background-attachment: local;
}

/* line 6, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.wrapper {
  width: 1280px;
}

/* line 10, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header {
  /*border-top: 1px solid  #000000;*/
  /*border-bottom: 1px solid  #708090;*/
  color: #808080;
  min-height: 40px;
}

/* line 17, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header form {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  width: 360px;
}

/* line 24, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header input {
  color: #A9A9A9;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 5px 2px 5px 30px;
  background: url("search.png") no-repeat scroll 0% 50%;
}

/* line 32, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header input[type=submit] {
  padding: 4px 2px 4px;
  background-image: none;
}

/* line 37, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar {
  height: 30px;
  float: right;
  min-width: 470px;
  text-align: center;
}

/* line 45, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul {
  display: none;
  position: absolute;
  top: 100;
}

/* line 51, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li:hover ul {
  display: block;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 57, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 63, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li {
  display: inline-block;
  float: left;
  position: relative;
  line-height: 30px;
}

/* line 70, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 74, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li a {
  display: block;
  padding: 6px;
  width: 135px;
  font-size: 1.05em;
  font-weight: bold;
  color: #DCDCDC;
  text-decoration: none;
  text-align: center;
}

/* line 87, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 91, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar a:hover {
  color: #fff;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 97, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li:hover {
  color: #fff;
}

/* line 102, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.left_column {
  min-height: 500px;
  width: 800px;
}
