/* line 1, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
body {
  background: url("assets/background.jpg");
}

/* line 5, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.wrapper {
  width: 1280px;
}

/* line 9, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header {
  /*border-top: 1px solid  #000000;*/
  /*border-bottom: 1px solid  #708090;*/
  color: #808080;
  min-height: 40px;
}

/* line 16, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header form {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  width: 360px;
}

/* line 23, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header input {
  color: #fff;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 5px 2px 5px 30px;
  background: url("asses/search.png") no-repeat scroll 0% 50%;
}

/* line 31, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
.header input[type=submit] {
  padding: 4px 2px 4px;
  background-image: none;
  color: #A9A9A9;
}

/* line 37, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar {
  height: 30px;
  float: right;
  min-width: 470px;
  text-align: center;
}

/* line 45, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul {
  display: none;
  position: absolute;
  top: 100;
}

/* line 51, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li:hover ul {
  display: block;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 57, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 63, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li {
  display: inline-block;
  float: left;
  position: relative;
  line-height: 30px;
}

/* line 70, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 74, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  font-size: 1.05em;
  font-weight: bold;
  color: #DCDCDC;
  text-decoration: none;
  text-align: center;
}

/* line 85, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li {
  float: none;
}

/* line 89, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar a:hover {
  color: #fff;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

/* line 95, /home/dinets/museum/app/assets/stylesheets/style.css.scss */
#navbar ul li:hover {
  color: #fff;
}
