  <div class="user-data">
    <h2>Увійти</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "Пошта" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, "Пароль" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Запам'ятати мене" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Увійти" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
