<%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, 'error') %> prohibited this article from being saved:
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
    <%= f.label :title, "Заголовок" %><br>
    <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body, "Текст статті" %><br>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit "Створити статтю" %>
    </p>
<% end %>
