  <h1>Редагувати статтю</h1>
    <%= form_for @post do |f| %>
      <p>
      <%= f.label :title, "Заголовок" %><br>
      <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :body, "Текст статті" %><br>
        <%= f.text_area :body %>
      </p>

      <p>
        <%= f.submit "Редагувати статтю" %>
      </p>
      <%= link_to "Повернутися", :back %>
    </div>
  <% end %>
