<div class="posts">

    <div class="post-title-show">
      <%= @post.title %>
    </div>

    <div class='post-body-show'>
      <%= @post.body %>    
    </div>
    <p>Автор статті: <%= @post.user_id %></p>
      <% if @comments.count > 0 %>
        <div class="post-comments">
          <p>Коменти:</p><br>
            <% @comments.each do |comment| %>
              <div class="post-comment-user-view">
                Автор: <%= comment.user_id %>
              </div>
              <div class="post-comment-view">
                <p>Текст коменту:</p>
                <%= comment.text %>
              </div>
              <div>
                <%= link_to 'Видалити', [comment.post, comment],
                                               method: :delete,
                                               data: {confirm: 'Впевнені?'} %>
              </div><br>
            <% end %>
        </div>
      <% end %>
      
    <%= link_to "Додати комент", new_post_comment_path(@post) %>
    <%= button_to "Видалити пост", post_path(@post), data: { confirm: "Ви впевнені?" }, method: :delete %>
</div>

