// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-data {
	h1 {
		text-align: center;
	}

	p {
		margin: 5px 0px;
		padding-left: 10px;
		text-indent: 20px;
	}
}