// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  min-height: 50px;
  background-color: #F5F5F5;
  margin: 20px 30px 0px 30px;
  border-radius: 3px;
  border: 2px solid #000;

  .post-title-show {
    margin: 10px 0 0;
    font-size: 1.2em;
    text-align: center;
  }
  .post-body-show {
    margin: 0 15px 10px;
  }

  p {
    padding: 10px 5px 0px 15px;
  }

  h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.25em;
  }

  a {
    font-weight: 1.1em;
    display: inline-block;
    color: #808080;
    margin: 5px 0px 10px 15px;
  }

  form {
    // padding-left: 10px;
    margin: 10px 0px 10px 15px;

    p {
      padding: 10px 5px 0px 5px;
    }

  }

  .post-view {
    border-bottom: 1px solid #000;

    p {
      margin-left: 10px;
    }

    .post-title {
      border: 2px solid #000;
      margin: 5px;
      border-radius: 3px;
    }

    .post-body {
      border: 2px solid #000;
      margin: 5px;
      border-radius: 3px;

    }

    .post-comments {
      margin-left: 15px;

    }

    .post-comment-user-view {
      margin: 0 10px 0 20px;
    }

    .post-comment-view {
      border: 2px solid #000;
      border-radius: 3px;
      margin: 0px 10px 2px 10px;
    }
  }
}
