html, body {
  height: 100%;
  width: 100%;
  background-color: #A9A9A9;
}
.wrapper {
  margin: auto;
  min-height: 100%;
  @font-face {
    font-family: 'Yakutovich'; /* Имя шрифта */
    src: url('Yakutovich.ttf'); /* Путь к файлу со шрифтом */
   }
  background: url('background.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

.header {
  color: #808080;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
  min-height: 40px;
}

.header form {
  display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    width: 250px;
}

.header input {
  color: #A9A9A9;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
  border: 1px solid #000000;
  border-radius: 2px; 
  padding: 5px 2px 5px 30px; 
  background: url('search.png') no-repeat scroll 0% 50%;
}

.header input[type=submit] {
  padding: 4px 2px 4px;
  background-image: none;
}

#navbar {
  height: 30px;
  float: right;
  min-width: 470px;
  text-align: center;

}

#navbar ul {
  display: none;
  position: absolute;
  top: 100;
}

#navbar li:hover ul {
  display: block;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar li { 
  display: inline-block;
  float: left;
  position: relative;
  line-height: 30px;
}

#navbar ul li { 
  float: none; 
}

#navbar li a {
  display: block;
  padding: 6px;
  min-width: 135px;
  font-size: 1.05em;
  font-weight: bold;
  color: #DCDCDC;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
  text-decoration: none;
  text-align: center;
}



#navbar ul li {
  float: none;
}

#navbar a:hover {
  color: #fff;
  background-color: rgba(169, 169, 169, 0.5);
  border-radius: 5px;
}

#navbar ul li:hover {
  color: #fff;

}

.left_column {
  min-height: 500px;
  width: 800px;
}

.right_column {

}

.footer {

}
